<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edição de Personagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="save()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input required clearOnEdit=true type="text" name="nome" [(ngModel)]="object.nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Classe</ion-label>
        <ion-select name="classe_id" [(ngModel)]="object.idClasse">
          <ion-select-option *ngFor="let cl of sCl.list | async" [value]="cl.id">
            {{cl.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Campanha</ion-label>
        <ion-select name="campanha_id" [(ngModel)]="object.idCampanha">
          <ion-select-option *ngFor="let ca of sCa.list | async" [value]="ca.id">
            {{ca.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Jogador</ion-label>
        <ion-select name="jogador_id" [(ngModel)]="object.idJogador">
          <ion-select-option [value]=0>
            <b>Personagem do Mestre (NPC)</b>
          </ion-select-option>
          <ion-select-option *ngFor="let jo of sJo.list | async" [value]="jo.id">
            {{jo.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button type="submit" block>Salvar</ion-button>
    <ion-button type="button" href="/personagens" block>Cancelar</ion-button>
  </form>
</ion-content>
