<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Personagens
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-card *ngFor="let p of store.list | async">
      <personagem-detail #personagem [object]="p" (edit)="edit($event)" (expandCard)=expandItem($event) (delete)="presentDeletePrompt($event)">
      </personagem-detail>
    </ion-card>
  </ion-list>

  <ion-fab >
    <ion-fab-button color="light" (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
