<ion-header>
  <ion-toolbar>
    <ion-title>Campanhas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-card *ngFor="let c of store.list | async; trackBy: item">
      <ion-item-sliding #slidingItem (click)="expandItem(c); slidingItem.close()">
        <ion-item>
          <ion-icon name="bonfire" slot="start"></ion-icon>
          <b>{{c.nome}}</b>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="danger" expandable (click)=presentDeletePrompt(c)>
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <app-expandable expandHeight="250px" [expanded]="c.expanded" >
        <campanha-detail [id]="c.id" (editCampanha)="editCampanha($event)"></campanha-detail>
      </app-expandable>
    </ion-card>
  </ion-list>

  <ion-fab >
    <ion-fab-button color="light" (click)="addCampanha()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
