<ion-header>
  <ion-toolbar>
    <ion-title>Campanhas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-card *ngFor="let c of campanhas">
      <ion-item-sliding #slidingItem (click)="expandItem(c); slidingItem.close()">
        <ion-item>
          <ion-icon name="bonfire" slot="start"></ion-icon>
          <b>{{c.nome}}</b>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="danger" expandable (click)=presentDeletePrompt(c)>
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <app-expandable expandHeight="250px" [expanded]="c.expanded">
        <ion-card-content>
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <p><b>Data de Início:</b> {{c.cdate}}</p>
            </ion-row>
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <ion-col size="auto">
                  <b>Personagens:</b>
                  <ion-list *ngFor="let p of getPersonagensByCampanha(c.id)">
                    {{p.nome}}
                  </ion-list>
              </ion-col>
              <ion-col size="auto">
                  <b>Jogadores:</b>
                  <ion-list *ngFor="let j of getJogadoresByCampanha(c.id)">
                    {{j.nome}}
                  </ion-list>
              </ion-col>
              <ion-col size="auto">
                <ion-button (click)="editCampanha(c.id)"><ion-icon name="create"></ion-icon></ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </app-expandable>
    </ion-card>
  </ion-list>

  <ion-fab >
    <ion-fab-button color="light" (click)="addCampanha()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
